*{
    margin: 0;
    padding: 0;

}

.wrapper {
    width: 1170px;
    margin: auto;

}

header {
    background: linear-gradient(rgba(1, 32, 81, 0.6), rgba(34, 29, 29, 0.6)), url("../depositphotos_89940720-stock-photo-colorful-spices-on-wooden-table.jpg");
    height: 100vh;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.nav-area {
    float: right;
    list-style: none;
    margin-top: 30px;
    
}

.nav-area li {
    display: inline-block;
}

.nav-area li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family:poppins;
    font-size: 14px;
}

.nav-area li a:hover {
    background-color: #fff;
    color: #333;
}

.logo img {
    width: 100px;
    float: left;
    height: auto;
    
}

.welcome-text {
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 5% 30%;
    text-align: center;
    align-items: center;
}

.welcome-text h1 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
}

.welcome-text .paragraph {
    font-family: monospace;
    border: 1px solid white;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 20px;
    display:inline-block;
    color: white;
    text-align: justify;
    text-justify: inter-word;
}

.welcome-text .paragraph:hover {
    background: linear-gradient(rgba(80, 98, 147, 0.6), rgba(173, 185, 204, 0.6),rgba(0, 0, 0, 0.6));
    color: white;
}